// Flash message
.flash-message {
    position: fixed;
    height: 50px;
    padding: 0 10px;
    top: 40px;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    z-index: 1000;
    border-radius: 0;
    @include ctb-box-shadow(0 3px 7px rgba(0,0,0,0.3));

    .close {
        top: 12px;
        right: 20px; 
        position: relative;
    }
}