<div class="page-header">
    <h1>基本CSS样式</h1>
</div>
<h3>Lead body copy</h3>
<p>通过添加 <code>.lead</code> 让段落突出显示</p>
<p class="lead">
    突出显示的一些文字
</p>
<pre class="prettyprint linenums">
&lt;p class=&quot;lead&quot;&gt;
    &#31361;&#20986;&#26174;&#31034;&#30340;&#19968;&#20123;&#25991;&#23383;
&lt;/p&gt;
</pre>
<h3>强调类</h3>
<p class="muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
<p class="text-error">Donec ullamcorper nulla non metus auctor fringilla.</p>
<p class="text-info">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.</p>
<p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
<pre class="prettyprint linenums">
    &lt;p class=&quot;muted&quot;&gt;Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.&lt;/p&gt;
    &lt;p class=&quot;text-warning&quot;&gt;Etiam porta sem malesuada magna mollis euismod.&lt;/p&gt;
    &lt;p class=&quot;text-error&quot;&gt;Donec ullamcorper nulla non metus auctor fringilla.&lt;/p&gt;
    &lt;p class=&quot;text-info&quot;&gt;Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.&lt;/p&gt;
    &lt;p class=&quot;text-success&quot;&gt;Duis mollis, est non commodo luctus, nisi erat porttitor ligula.&lt;/p&gt;
</pre>

<h3>水平描述</h3>
<dl class="dl-horizontal">
    <dt>Description lists</dt>
    <dd>A description list is perfect for defining terms.</dd>
    <dt>Euismod</dt>
    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
    <dt>Malesuada porta</dt>
    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
    <dt>Felis euismod semper eget lacinia</dt>
    <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
</dl>
<h3>Div stacked</h3>
<div class="div-stacked">
    <div class="stacked-item" ng-controller="CollapseDemoCtrl">
        <div class="stacked-item-hd">
            <strong>test one</strong>
            <button class="btn btn-mini pull-right" ng-click="isCollapsed = !isCollapsed">编辑</button>
        </div>      
        <div class="stacked-item-bd" ng-show="isCollapsed">
            <table class="table-normal">
                <thead>
                    <tr>
                        <th>test new</th>
                        <th>test new</th>
                        <th>test new</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>test body</td>
                        <td>test body</td>
                        <td>
                            <div ng-controller="confirmButtonCtrl" class="ng-scope">
                                <a class="btn btn-danger" confirm-button="talk('Hello, Web Developer!');" data-original-title="" title="">删除</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="stacked-item">
        <div class="stacked-item-hd">
            <strong>test one</strong>
            <button class="btn btn-mini pull-right">编辑</button>
        </div>      
    </div>
</div>

<h3>Box widget</h3>
<div class="box">
    <div class="box-hd">
        <div class="opts">
            <div class="btn-group">
                <input type="button" class="btn btn-mini" value="添加">
                <input type="button" class="btn btn-danger btn-mini" value="删除">
            </div>
        </div>
        <h3>组件标题</h3>
    </div>
    <div class="box-bd">
        <div class="alert alert-block">
            暂无任何信息
        </div>
    </div>
</div>

<h3>标签</h3>
<table class="table-normal">
    <thead>
        <tr>
            <th>标签</th>
            <th>标记</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <span class="label">默认样式</span>
            </td>
            <td>
                <code>&lt;span class=&quot;label&quot;&gt;Default&lt;/span&gt;</code>
            </td>
        </tr>
        <tr>
            <td>
                <span class="label label-success">成功</span>
            </td>
            <td>
                <code>&lt;span class=&quot;label label-success&quot;&gt;Success&lt;/span&gt;</code>
            </td>
        </tr>
        <tr>
            <td>
                <span class="label label-warning">警告</span>
            </td>
            <td>
                <code>&lt;span class=&quot;label label-warning&quot;&gt;Warning&lt;/span&gt;</code>
            </td>
        </tr>
        <tr>
            <td>
                <span class="label label-important">重要</span>
            </td>
            <td>
                <code>&lt;span class=&quot;label label-important&quot;&gt;Important&lt;/span&gt;</code>
            </td>
        </tr>
        <tr>
            <td>
                <span class="label label-info">信息</span>
            </td>
            <td>
                <code>&lt;span class=&quot;label label-info&quot;&gt;Info&lt;/span&gt;</code>
            </td>
        </tr>
        <tr>
            <td>
                <span class="label label-inverse">反色</span>
            </td>
            <td>
                <code>&lt;span class=&quot;label label-inverse&quot;&gt;Inverse&lt;/span&gt;</code>
            </td>
        </tr>
    </tbody>
</table>

<h3>徽章</h3>
<table class="table-normal">
    <thead>
        <tr>
            <th>名称</th>
            <th>案例</th>
            <th>标记</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>默认样式</td>
            <td>
                <span class="badge">1</span>
            </td>
            <td>
                <code>&lt;span class=&quot;badge&quot;&gt;1&lt;/span&gt;</code>
            </td>
        </tr>
        <tr>
            <td>成功</td>
            <td>
                <span class="badge badge-success">2</span>
            </td>
            <td>
                <code>&lt;span class=&quot;badge badge-success&quot;&gt;2&lt;/span&gt;</code>
            </td>
        </tr>
        <tr>
            <td>警告</td>
            <td>
                <span class="badge badge-warning">4</span>
            </td>
            <td>
                <code>&lt;span class=&quot;badge badge-warning&quot;&gt;4&lt;/span&gt;</code>
            </td>
        </tr>
        <tr>
            <td>重要</td>
            <td>
                <span class="badge badge-important">6</span>
            </td>
            <td>
                <code>&lt;span class=&quot;badge badge-important&quot;&gt;6&lt;/span&gt;</code>
            </td>
        </tr>
        <tr>
            <td>信息</td>
            <td>
                <span class="badge badge-info">8</span>
            </td>
            <td>
                <code>&lt;span class=&quot;badge badge-info&quot;&gt;8&lt;/span&gt;</code>
            </td>
        </tr>
        <tr>
            <td>反色</td>
            <td>
                <span class="badge badge-inverse">10</span>
            </td>
            <td>
                <code>&lt;span class=&quot;badge badge-inverse&quot;&gt;10&lt;/span&gt;</code>
            </td>
        </tr>
    </tbody>
</table>

<h3>Loading</h3>
<p>
    <img src="../images/loading.gif" />
    <code>&lt;img src=&quot;../images/loading.gif&quot; /&gt;</code>
</p>